*.mp4
.Renviron
.Rproj.user
.Rhistory
.RData
.Ruserdata
public
content/post/*.fst
content/post/*.rds
content/post/data/*
!content/post/data/raw
!content/post/data/interim/accidents.rdata
/blogdown
.httr-oauth
*.fst
